<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>Archetype Created Web Application</display-name>

    <listener>
        <listener-class>controllers.CustomApplicationContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>departments</servlet-name>
        <servlet-class>controllers.ServletDispatcher</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>departments</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DepartmentForm</servlet-name>
        <jsp-file>/WEB-INF/jsp/departmentForm.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DepartmentForm</servlet-name>
        <url-pattern>/departmentForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EmployeeForm</servlet-name>
        <jsp-file>/WEB-INF/jsp/employeeForm.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeeForm</servlet-name>
        <url-pattern>/employeeForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>default</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ErrorPage</servlet-name>
        <jsp-file>/WEB-INF/jsp/error.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>ErrorPage</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>

</web-app>
